In [13]:
%load_ext bigdata
%timeout 300

In [14]:
%cat data.tsv | head

B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
A	1992-08-22	14
B	1999-06-11	12
E	1993-01-27	13
E	1999-09-10	11
E	1990-05-03	16

In [38]:
!hdfs dfs -rm -r -f  /tmp/data

In [41]:
!hdfs dfs -mkdir /tmp/data

In [42]:
!hdfs dfs -copyFromLocal data.tsv /tmp/data/data.tsv

In [43]:
!hdfs dfs -ls /tmp/data/

Found 1 items
-rw-r--r--   1 root supergroup        637 2021-05-22 06:12 /tmp/data/data.tsv

In [44]:
%%hive
DROP TABLE IF EXISTS tabla;

DROP TABLE IF EXISTS tabla;
OK
Time taken: 0.052 seconds

In [45]:
%%hive
CREATE TABLE tabla (letra STRING,
                           fecha STRING,
                           cantidad INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t'
TBLPROPERTIES ("skip.header.line.count"="0");

CREATE TABLE tabla (letra STRING,
                           fecha STRING,
                           cantidad INT)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t'
TBLPROPERTIES ("skip.header.line.count"="0");
OK
Time taken: 0.031 seconds

In [46]:
%%hive
LOAD DATA INPATH '/tmp/data/data.tsv' OVERWRITE
INTO TABLE tabla;

LOAD DATA INPATH '/tmp/data/data.tsv' OVERWRITE
INTO TABLE tabla;
Loading data to table default.tabla
OK
Time taken: 0.176 seconds

In [47]:
%%hive
select * from tabla;

select * from tabla;
OK
B	1999-08-28	14
E	1999-12-06	12
E	1993-07-21	17
C	1991-02-12	13
E	1995-04-25	16
A	1992-08-22	14
B	1999-06-11	12
E	1993-01-27	13
E	1999-09-10	11
E	1990-05-03	16
E	1994-02-14	5
A	1988-04-27	12
A	1990-10-06	10
E	1985-02-12	16
E	1998-09-14	16
B	1994-08-30	17
A	1997-12-15	13
B	1995-08-23	10
B	1998-11-22	13
B	1997-04-09	14
E	1993-12-27	18
E	1999-01-14	15
A	1992-09-19	18
B	1993-03-02	14
B	1999-10-21	13
A	1990-08-31	12
C	1994-01-25	6
E	1990-02-09	18
A	1990-09-26	14
A	1993-05-08	16
B	1995-09-06	14
E	1991-02-18	14
A	1993-01-11	14
A	1990-07-22	18
C	1994-09-09	15
C	1994-07-27	7
D	1990-10-10	15
A	1990-09-05	11
B	1991-10-01	15
A	1994-10-25	13
Time taken: 0.056 seconds, Fetched: 40 row(s)

In [49]:
%%hive
select letra, count(letra) from tabla GROUP BY letra;

select letra, count(letra) from tabla GROUP BY letra;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20210522061352_4ffc9579-128f-433f-9692-69d350d834d2
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1621662282946_0004, Tracking URL = http://b96ee1215438:8088/proxy/application_1621662282946_0004/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1621662282946_0004
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2021-05-22 06:13:57,864 Stage-1 map = 0%,  reduce = 0%
2021-05-22 06:14:01,964 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.83 sec
2021-05-22 06:14:05,034 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 1.75 sec
MapReduce Total cumulative CPU time: 1 seconds 750 msec
Ended Job = job_1621662282946_0004
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 1.75 sec   HDFS Read: 8817 HDFS Write: 170 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 750 msec
OK
A	12
B	10
C	4
D	1
E	13
Time taken: 14.215 seconds, Fetched: 5 row(s)

In [52]:
%%hive
CREATE TABLE consultafinal AS
select letra, count(letra) from tabla GROUP BY letra;

CREATE TABLE consultafinal AS
select letra, count(letra) from tabla GROUP BY letra;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20210522061826_6454aa78-a711-4fdf-afe9-458d4cda9651
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1621662282946_0005, Tracking URL = http://b96ee1215438:8088/proxy/application_1621662282946_0005/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1621662282946_0005
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2021-05-22 06:18:30,943 Stage-1 map = 0%,  reduce = 0%
2021-05-22 06:18:35,036 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.8 sec
2021-05-22 06:18:38,097 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 1.76 sec
MapReduce Total cumulative CPU time: 1 seconds 760 msec
Ended Job = job_1621662282946_0005
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/consultafinal
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 1.76 sec   HDFS Read: 8510 HDFS Write: 100 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 760 msec
OK
Time taken: 13.959 seconds

In [53]:
%%hive
DESCRIBE consultafinal;

DESCRIBE consultafinal;
OK
letra               	string
_c1                 	bigint
Time taken: 0.016 seconds, Fetched: 2 row(s)

In [54]:
%%hive
select * from consultafinal;

select * from consultafinal;
OK
A	12
B	10
C	4
D	1
E	13
Time taken: 0.048 seconds, Fetched: 5 row(s)

In [51]:
!hdfs dfs -mkdir /tmp/data/consultafinal

In [55]:
%%hive
INSERT OVERWRITE DIRECTORY '/tmp/data/consultafinal'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM consultafinal;

INSERT OVERWRITE DIRECTORY '/tmp/data/consultafinal'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM consultafinal;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20210522061935_11f988e1-217d-44f4-9c00-e4e8487110f4
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1621662282946_0006, Tracking URL = http://b96ee1215438:8088/proxy/application_1621662282946_0006/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1621662282946_0006
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2021-05-22 06:19:39,577 Stage-1 map = 0%,  reduce = 0%
2021-05-22 06:19:42,657 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.95 sec
MapReduce Total cumulative CPU time: 950 msec
Ended Job = job_1621662282946_0006
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/data/consultafinal/.hive-staging_hive_2021-05-22_06-19-35_024_7193845987298849427-1/-ext-10000
Moving data to directory /tmp/data/consultafinal
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 0.95 sec   HDFS Read: 3465 HDFS Write: 23 SUCCESS
Total MapReduce CPU Time Spent: 950 msec
OK
Time taken: 9.843 seconds

In [60]:
!mkdir output

In [58]:
!hdfs dfs -copyToLocal /tmp/data/consultafinal/000000_0 output/consultafinal