In [1]:
%load_ext bigdata

In [2]:
%timeout 300

In [1]:
!wget https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/drivers/truck_event_text_partition.csv

--2021-05-22 00:13:49--  https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/drivers/truck_event_text_partition.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2272077 (2.2M) [text/plain]
Saving to: 'truck_event_text_partition.csv'

truck_event_text_pa 100%[===================>]   2.17M  1.93MB/s    in 1.1s

2021-05-22 00:13:51 (1.93 MB/s) - 'truck_event_text_partition.csv' saved [2272077/2272077]

In [3]:
%cat truck_event_text_partition.csv | head -n 5

driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,driverName,routeId,routeName,eventDate
14,25,59:21.4,Normal,-94.58,37.03,14|25|9223370572464814373,3.66E+18,Adis Cesir,160405074,Joplin to Kansas City Route 2,2016-05-27-22
18,16,59:21.7,Normal,-89.66,39.78,18|16|9223370572464814089,3.66E+18,Grant Liu,1565885487,Springfield to KC Via Hanibal,2016-05-27-22
27,105,59:21.7,Normal,-90.21,38.65,27|105|9223370572464814070,3.66E+18,Mark Lochbihler,1325562373,Springfield to KC Via Columbia Route 2,2016-05-27-22
11,74,59:21.7,Normal,-90.2,38.65,11|74|9223370572464814123,3.66E+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
cat: write error: Broken pipe

In [13]:
!wget https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/drivers/drivers.csv

--2021-05-22 00:28:01--  https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/drivers/drivers.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2043 (2.0K) [text/plain]
Saving to: 'drivers.csv'

drivers.csv         100%[===================>]   2.00K  --.-KB/s    in 0s

2021-05-22 00:28:02 (15.9 MB/s) - 'drivers.csv' saved [2043/2043]

In [4]:
%cat drivers.csv | head -n 5

driverId,name,ssn,location,certified,wage-plan
10,George Vetticaden,621011971,244-4532 Nulla Rd.,N,miles
11,Jamie Engesser,262112338,366-4125 Ac Street,N,miles
12,Paul Coddin,198041975,Ap #622-957 Risus. Street,Y,hours
13,Joe Niemiec,139907145,2071 Hendrerit. Ave,Y,hours

In [5]:
!hdfs dfs -ls

In [6]:
!hdfs dfs -rm -r -f /tmp/drivers

Deleted /tmp/drivers

In [7]:
!hdfs dfs -mkdir /tmp/drivers

In [8]:
!hdfs dfs -ls /tmp

Found 3 items
drwxr-xr-x   - root supergroup          0 2021-05-22 01:17 /tmp/drivers
drwxrwx---   - root supergroup          0 2021-05-22 00:12 /tmp/hadoop-yarn
drwxrwxrwx   - root supergroup          0 2021-05-22 00:44 /tmp/hive

In [9]:
!hdfs dfs -copyFromLocal truck_event_text_partition.csv /tmp/drivers/truck_event_text_partition.csv

In [10]:
!hdfs dfs -ls /tmp/drivers

Found 1 items
-rw-r--r--   1 root supergroup    2272077 2021-05-22 01:17 /tmp/drivers/truck_event_text_partition.csv

In [11]:
!hdfs dfs -copyFromLocal drivers.csv /tmp/drivers/drivers.csv

In [31]:
!hdfs dfs -ls /tmp/drivers

In [13]:
%%hive
DROP TABLE IF EXISTS truck_events;

DROP TABLE IF EXISTS truck_events;
OK
Time taken: 3.074 seconds

In [14]:
%%hive
DROP TABLE IF EXISTS drivers;

DROP TABLE IF EXISTS drivers;
OK
Time taken: 0.069 seconds

In [15]:
#Para llamar la tabla creada desde el file system de hadoop
!hdfs dfs -cat /tmp/drivers/truck_event_text_partition.csv | head -n 10

driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,driverName,routeId,routeName,eventDate
14,25,59:21.4,Normal,-94.58,37.03,14|25|9223370572464814373,3.66E+18,Adis Cesir,160405074,Joplin to Kansas City Route 2,2016-05-27-22
18,16,59:21.7,Normal,-89.66,39.78,18|16|9223370572464814089,3.66E+18,Grant Liu,1565885487,Springfield to KC Via Hanibal,2016-05-27-22
27,105,59:21.7,Normal,-90.21,38.65,27|105|9223370572464814070,3.66E+18,Mark Lochbihler,1325562373,Springfield to KC Via Columbia Route 2,2016-05-27-22
11,74,59:21.7,Normal,-90.2,38.65,11|74|9223370572464814123,3.66E+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
22,87,59:21.7,Normal,-90.04,35.19,22|87|9223370572464814101,3.66E+18,Nadeem Asghar,1198242881, Saint Louis to Chicago Route2,2016-05-27-22
22,87,59:22.3,Normal,-90.37,35.21,22|87|9223370572464813486,3.66E+18,Nadeem Asghar,1198242881, Saint Louis to Chicago Route2,2016-05-27-22
23,68,59:22.4,Normal,-89.91,40.86,23|68|9223370572464813450,3.66E+18,Adam Diaz,160405074,Joplin to Kansas City Route 2,2016-05-27-22
11,74,59:22.5,Normal,-89.74,39.1,11|74|9223370572464813355,3.66E+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
20,41,59:22.5,Normal,-93.36,41.69,20|41|9223370572464813344,3.66E+18,Chris Harris,160779139,Des Moines to Chicago Route 2,2016-05-27-22
cat: Unable to write to output stream.

In [16]:
!hdfs dfs -cat /tmp/drivers/drivers.csv | head -n 10

driverId,name,ssn,location,certified,wage-plan
10,George Vetticaden,621011971,244-4532 Nulla Rd.,N,miles
11,Jamie Engesser,262112338,366-4125 Ac Street,N,miles
12,Paul Coddin,198041975,Ap #622-957 Risus. Street,Y,hours
13,Joe Niemiec,139907145,2071 Hendrerit. Ave,Y,hours
14,Adis Cesir,820812209,Ap #810-1228 In St.,Y,hours
15,Rohit Bakshi,239005227,648-5681 Dui- Rd.,Y,hours
16,Tom McCuch,363303105,P.O. Box 313- 962 Parturient Rd.,Y,hours
17,Eric Mizell,123808238,P.O. Box 579- 2191 Gravida. Street,Y,hours
18,Grant Liu,171010151,Ap #928-3159 Vestibulum Av.,Y,hours

In [17]:
%%hive
CREATE TABLE truck_events (driverId INT,
                           truckId INT,
                           eventTime STRING,
                           eventType STRING,
                           longitude DOUBLE,
                           latitude DOUBLE,
                           eventKey STRING,
                           correlationId STRING, 
                           driverName STRING, 
                           routeId BIGINT,
                           routeName STRING,
                           eventDate STRING)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
TBLPROPERTIES ("skip.header.line.count"="1");

CREATE TABLE truck_events (driverId INT,
                           truckId INT,
                           eventTime STRING,
                           eventType STRING,
                           longitude DOUBLE,
                           latitude DOUBLE,
                           eventKey STRING,
                           correlationId STRING,
                           driverName STRING,
                           routeId BIGINT,
                           routeName STRING,
                           eventDate STRING)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
TBLPROPERTIES ("skip.header.line.count"="1");
OK
Time taken: 0.28 seconds

In [18]:
%%hive
CREATE TABLE drivers (driverId INT,
                      name STRING,
                      ssn STRING,
                      location STRING,
                      certified STRING,
                      wageplan STRING)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
TBLPROPERTIES ("skip.header.line.count"="1");

CREATE TABLE drivers (driverId INT,
                      name STRING,
                      ssn STRING,
                      location STRING,
                      certified STRING,
                      wageplan STRING)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
TBLPROPERTIES ("skip.header.line.count"="1");
OK
Time taken: 0.049 seconds

In [19]:
%%hive
show tables;

show tables;
OK
drivers
truck_events
Time taken: 0.049 seconds, Fetched: 2 row(s)

In [20]:
%%hive
DESCRIBE truck_events;

DESCRIBE truck_events;
OK
driverid            	int
truckid             	int
eventtime           	string
eventtype           	string
longitude           	double
latitude            	double
eventkey            	string
correlationid       	string
drivername          	string
routeid             	bigint
routename           	string
eventdate           	string
Time taken: 0.023 seconds, Fetched: 12 row(s)

In [21]:
%%hive
DESCRIBE drivers;

DESCRIBE drivers;
OK
driverid            	int
name                	string
ssn                 	string
location            	string
certified           	string
wageplan            	string
Time taken: 0.022 seconds, Fetched: 6 row(s)

In [22]:
%%hive
select * from truck_events;

select * from truck_events;
OK
Time taken: 0.598 seconds

In [23]:
%%hive
select * from drivers;

select * from drivers;
OK
Time taken: 0.065 seconds

In [24]:
%%hive
LOAD DATA INPATH '/tmp/drivers/truck_event_text_partition.csv' OVERWRITE
INTO TABLE truck_events;

LOAD DATA INPATH '/tmp/drivers/truck_event_text_partition.csv' OVERWRITE
INTO TABLE truck_events;
Loading data to table default.truck_events
OK
Time taken: 0.316 seconds

In [25]:
%%hive
select * from truck_events LIMIT 10;

select * from truck_events LIMIT 10;
OK
14	25	59:21.4	Normal	-94.58	37.03	14|25|9223370572464814373	3.66E+18	Adis Cesir	160405074	Joplin to Kansas City Route 2	2016-05-27-22
18	16	59:21.7	Normal	-89.66	39.78	18|16|9223370572464814089	3.66E+18	Grant Liu	1565885487	Springfield to KC Via Hanibal	2016-05-27-22
27	105	59:21.7	Normal	-90.21	38.65	27|105|9223370572464814070	3.66E+18	Mark Lochbihler	1325562373	Springfield to KC Via Columbia Route 2	2016-05-27-22
11	74	59:21.7	Normal	-90.2	38.65	11|74|9223370572464814123	3.66E+18	Jamie Engesser	1567254452	Saint Louis to Memphis Route2	2016-05-27-22
22	87	59:21.7	Normal	-90.04	35.19	22|87|9223370572464814101	3.66E+18	Nadeem Asghar	1198242881	 Saint Louis to Chicago Route2	2016-05-27-22
22	87	59:22.3	Normal	-90.37	35.21	22|87|9223370572464813486	3.66E+18	Nadeem Asghar	1198242881	 Saint Louis to Chicago Route2	2016-05-27-22
23	68	59:22.4	Normal	-89.91	40.86	23|68|9223370572464813450	3.66E+18	Adam Diaz	160405074	Joplin to Kansas City Route 2	2016-05-27-22
11	74	59:22.5	Normal	-89.74	39.1	11|74|9223370572464813355	3.66E+18	Jamie Engesser	1567254452	Saint Louis to Memphis Route2	2016-05-27-22
20	41	59:22.5	Normal	-93.36	41.69	20|41|9223370572464813344	3.66E+18	Chris Harris	160779139	Des Moines to Chicago Route 2	2016-05-27-22
32	42	59:22.5	Normal	-90.37	35.21	32|42|9223370572464813296	3.66E+18	Ryan Templeton	1090292248	Peoria to Ceder Rapids Route 2	2016-05-27-22
Time taken: 0.073 seconds, Fetched: 10 row(s)

In [26]:
%%hive
LOAD DATA INPATH '/tmp/drivers/drivers.csv' OVERWRITE
INTO TABLE drivers;

LOAD DATA INPATH '/tmp/drivers/drivers.csv' OVERWRITE
INTO TABLE drivers;
Loading data to table default.drivers
OK
Time taken: 0.211 seconds

In [32]:
%%hive
select * from drivers LIMIT 10;

select * from drivers LIMIT 10;
OK
10	George Vetticaden	621011971	244-4532 Nulla Rd.	N	miles
11	Jamie Engesser	262112338	366-4125 Ac Street	N	miles
12	Paul Coddin	198041975	Ap #622-957 Risus. Street	Y	hours
13	Joe Niemiec	139907145	2071 Hendrerit. Ave	Y	hours
14	Adis Cesir	820812209	Ap #810-1228 In St.	Y	hours
15	Rohit Bakshi	239005227	648-5681 Dui- Rd.	Y	hours
16	Tom McCuch	363303105	P.O. Box 313- 962 Parturient Rd.	Y	hours
17	Eric Mizell	123808238	P.O. Box 579- 2191 Gravida. Street	Y	hours
18	Grant Liu	171010151	Ap #928-3159 Vestibulum Av.	Y	hours
19	Ajay Singh	160005158	592-9430 Nonummy Avenue	Y	hours
Time taken: 0.069 seconds, Fetched: 10 row(s)

In [33]:
%%hive
select driverid,eventtime,eventtype from truck_events LIMIT 5;

select driverid,eventtime,eventtype from truck_events LIMIT 5;
OK
14	59:21.4	Normal
18	59:21.7	Normal
27	59:21.7	Normal
11	59:21.7	Normal
22	59:21.7	Normal
Time taken: 0.058 seconds, Fetched: 5 row(s)

In [35]:
%%hive
DROP TABLE IF EXISTS consultafinal;

DROP TABLE IF EXISTS consultafinal;
OK
Time taken: 0.007 seconds

In [36]:
%%hive
CREATE TABLE consultafinal AS
select driverid,eventtime,eventtype from truck_events LIMIT 5;

CREATE TABLE consultafinal AS
select driverid,eventtime,eventtype from truck_events LIMIT 5;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20210522015842_c2b0de61-1e52-41e0-9b47-3c30ca19b075
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1621642324979_0001, Tracking URL = http://d105d69c1e79:8088/proxy/application_1621642324979_0001/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1621642324979_0001
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2021-05-22 01:58:49,544 Stage-1 map = 0%,  reduce = 0%
2021-05-22 01:58:53,678 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.82 sec
2021-05-22 01:58:57,783 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 1.94 sec
MapReduce Total cumulative CPU time: 1 seconds 940 msec
Ended Job = job_1621642324979_0001
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/consultafinal
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 1.94 sec   HDFS Read: 12833 HDFS Write: 167 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 940 msec
OK
Time taken: 17.622 seconds

In [37]:
%%hive
DESCRIBE consultafinal;

DESCRIBE consultafinal;
OK
driverid            	int
eventtime           	string
eventtype           	string
Time taken: 0.014 seconds, Fetched: 3 row(s)

In [38]:
%%hive
select * from consultafinal;

select * from consultafinal;
OK
22	59:21.7	Normal
11	59:21.7	Normal
27	59:21.7	Normal
18	59:21.7	Normal
14	59:21.4	Normal
Time taken: 0.052 seconds, Fetched: 5 row(s)

In [39]:
!hdfs dfs -mkdir /tmp/drivers/consultafinal

In [41]:
%%hive
INSERT OVERWRITE DIRECTORY '/tmp/drivers/consultafinal'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM consultafinal;

INSERT OVERWRITE DIRECTORY '/tmp/drivers/consultafinal'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
SELECT * FROM consultafinal;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20210522020554_79976d5e-1fd6-4818-8efc-f40270d40203
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1621642324979_0002, Tracking URL = http://d105d69c1e79:8088/proxy/application_1621642324979_0002/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1621642324979_0002
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2021-05-22 02:06:00,040 Stage-1 map = 0%,  reduce = 0%
2021-05-22 02:06:03,113 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.81 sec
MapReduce Total cumulative CPU time: 810 msec
Ended Job = job_1621642324979_0002
Stage-3 is selected by condition resolver.
Stage-2 is filtered out by condition resolver.
Stage-4 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/tmp/drivers/consultafinal/.hive-staging_hive_2021-05-22_02-05-54_061_6344555154226275434-1/-ext-10000
Moving data to directory /tmp/drivers/consultafinal
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 0.81 sec   HDFS Read: 3769 HDFS Write: 90 SUCCESS
Total MapReduce CPU Time Spent: 810 msec
OK
Time taken: 11.129 seconds

In [42]:
!hdfs dfs -ls /tmp/drivers/consultafinal

Found 1 items
-rwxr-xr-x   1 root supergroup         90 2021-05-22 02:06 /tmp/drivers/consultafinal/000000_0

In [43]:
!hdfs dfs -cat /tmp/drivers/consultafinal/000000_0

22,59:21.7,Normal
11,59:21.7,Normal
27,59:21.7,Normal
18,59:21.7,Normal
14,59:21.4,Normal

In [47]:
!hdfs dfs -copyToLocal /tmp/drivers/consultafinal/000000_0 archivo.txt

UsageError: Cell magic `%%hive` not found.