In [1]:
%load_ext bigdata

In [2]:
%timeout 300

In [3]:
!rm -f -r output
!hdfs dfs -rm -r -f  /tmp/data
!hdfs dfs -mkdir /tmp/data
!hdfs dfs -copyFromLocal tbl0.csv /tmp/data/tbl0.csv
!hdfs dfs -copyFromLocal tbl1.csv /tmp/data/tbl1.csv

Deleted /tmp/data

In [4]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 3.13 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.297 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 0.355 seconds

In [5]:
%%hive
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.064 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.045 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 0.603 seconds

In [10]:
%%hive
select * from tabla0;

select * from tabla0;
OK
1	D	4	2016-06-25	a:e:c:d	bb#10:dd#20:cc#40
2	C	4	2015-05-14	a:c	dd#40:bb#20:cc#10
3	D	6	2014-12-26	b:d	aa#10:bb#40
4	D	5	2016-06-25	a:c:e:b:d	bb#40:dd#20:aa#10:cc#30
5	C	7	2016-05-23	d:e:c	cc#10:aa#20
6	A	2	2018-06-14	a:d	aa#20
7	B	3	2014-12-22	a:e:d	cc#20
8	C	6	2015-08-20	d:a:c:e	cc#10:aa#20
9	B	3	2017-12-08	b:a:c:e	cc#40:dd#10:aa#30:bb#20
10	B	7	2015-07-28	c:d:e:a:b	aa#10:dd#40:cc#30
Time taken: 0.065 seconds, Fetched: 10 row(s)

In [11]:
%%hive
select * from tabla1;

select * from tabla1;
OK
1	7	bb	A#0:B#4:C#1:D#3:E#5
2	13	Cc	A#4:B#1:C#0:D#5:E#2
3	11	dD	A#5:B#4:C#3:D#1:E#0
4	3	BB	A#2:B#4:C#3:D#5:E#1
5	14	cc	A#4:B#0:C#2:D#5:E#3
6	8	cC	A#4:B#5:C#1:D#2:E#3
7	2	DD	A#0:B#5:C#2:D#4:E#3
8	6	dd	A#4:B#2:C#5:D#3:E#0
9	9	aa	A#1:B#4:C#2:D#5:E#3
10	4	Bb	A#2:B#3:C#4:D#1:E#0
Time taken: 0.07 seconds, Fetched: 10 row(s)

In [44]:
%%hive
select Distinct c5[2] from tbl0;

select Distinct c5[2] from tbl0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20210522095822_0216ec5b-ccee-4744-b177-de9377eb2e52
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1621674023485_0009, Tracking URL = http://df7743bbd143:8088/proxy/application_1621674023485_0009/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1621674023485_0009
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2021-05-22 09:58:31,339 Stage-1 map = 0%,  reduce = 0%
2021-05-22 09:58:34,407 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 0.98 sec
2021-05-22 09:58:38,495 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 1.95 sec
MapReduce Total cumulative CPU time: 1 seconds 950 msec
Ended Job = job_1621674023485_0009
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 1.95 sec   HDFS Read: 9296 HDFS Write: 144 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 950 msec
OK
NULL
c
d
e
Time taken: 17.978 seconds, Fetched: 4 row(s)

In [90]:
%%hive
create table c50 as
select c5[0] as c5_0 from tbl0;

create table c50 as
select c5[0] as c5_0 from tbl0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20210522103411_25234dc9-26b4-4fc3-813e-89e0bf12d28a
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1621674023485_0015, Tracking URL = http://df7743bbd143:8088/proxy/application_1621674023485_0015/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1621674023485_0015
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2021-05-22 10:34:15,530 Stage-1 map = 0%,  reduce = 0%
2021-05-22 10:34:18,599 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.19 sec
MapReduce Total cumulative CPU time: 1 seconds 190 msec
Ended Job = job_1621674023485_0015
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2021-05-22_10-34-11_124_2876612693034007234-1/-ext-10002
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/c50
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.19 sec   HDFS Read: 4662 HDFS Write: 87 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 190 msec
OK
Time taken: 9.904 seconds

In [106]:
%%hive
create table c51_ as
select c5[1] as c5_0 from tbl0;

create table c51_ as
select c5[1] as c5_0 from tbl0;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20210522104356_1301ce0d-4a49-4e47-92c1-9b9dea1a4fca
Total jobs = 3
Launching Job 1 out of 3
Number of reduce tasks is set to 0 since there's no reduce operator
Starting Job = job_1621674023485_0017, Tracking URL = http://df7743bbd143:8088/proxy/application_1621674023485_0017/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1621674023485_0017
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 0
2021-05-22 10:44:01,736 Stage-1 map = 0%,  reduce = 0%
2021-05-22 10:44:05,837 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.24 sec
MapReduce Total cumulative CPU time: 1 seconds 240 msec
Ended Job = job_1621674023485_0017
Stage-4 is selected by condition resolver.
Stage-3 is filtered out by condition resolver.
Stage-5 is filtered out by condition resolver.
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/.hive-staging_hive_2021-05-22_10-43-56_526_6585131436664913676-1/-ext-10002
Moving data to directory hdfs://0.0.0.0:9000/user/hive/warehouse/c51_
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1   Cumulative CPU: 1.24 sec   HDFS Read: 4663 HDFS Write: 88 SUCCESS
Total MapReduce CPU Time Spent: 1 seconds 240 msec
OK
Time taken: 10.504 seconds

In [97]:
%%hive
select * from c50;

select * from c50;
OK
a
a
b
a
d
a
a
d
b
c
Time taken: 0.04 seconds, Fetched: 10 row(s)

In [100]:
%%hive
describe c50;

describe c50;
OK
c5_0                	char(1)
Time taken: 0.011 seconds, Fetched: 1 row(s)

In [102]:
%%hive
describe c51;

describe c51;
OK
c5_1                	char(1)
Time taken: 0.012 seconds, Fetched: 1 row(s)

In [98]:
%%hive
select * from c51;

select * from c51;
OK
e
c
d
c
e
d
e
a
a
d
Time taken: 0.045 seconds, Fetched: 10 row(s)

In [112]:
%%hive
select * from c50;

select * from c50;
OK
a
a
b
a
d
a
a
d
b
c
Time taken: 0.048 seconds, Fetched: 10 row(s)

In [114]:
%%hive
describe c50;

describe c50;
OK
c5_0                	char(1)
Time taken: 0.008 seconds, Fetched: 1 row(s)

In [113]:
%%hive
select * from c51;

select * from c51;
OK
e
c
d
c
e
d
e
a
a
d
Time taken: 0.047 seconds, Fetched: 10 row(s)

In [115]:
%%hive
describe c51;

describe c51;
OK
c5_1                	char(1)
Time taken: 0.01 seconds, Fetched: 1 row(s)

In [117]:
%%hive
INSERT INTO c50 c5_0 select c5_1 from c51;

INSERT INTO c50 c5_0 select c5_1 from c51;
NoViableAltException(24@[])
	at org.apache.hadoop.hive.ql.parse.HiveParser.regularBody(HiveParser.java:36494)
	at org.apache.hadoop.hive.ql.parse.HiveParser.queryStatementExpressionBody(HiveParser.java:35822)
	at org.apache.hadoop.hive.ql.parse.HiveParser.queryStatementExpression(HiveParser.java:35710)
	at org.apache.hadoop.hive.ql.parse.HiveParser.execStatement(HiveParser.java:2284)
	at org.apache.hadoop.hive.ql.parse.HiveParser.statement(HiveParser.java:1333)
	at org.apache.hadoop.hive.ql.parse.ParseDriver.parse(ParseDriver.java:208)
	at org.apache.hadoop.hive.ql.parse.ParseUtils.parse(ParseUtils.java:77)
	at org.apache.hadoop.hive.ql.parse.ParseUtils.parse(ParseUtils.java:70)
	at org.apache.hadoop.hive.ql.Driver.compile(Driver.java:468)
	at org.apache.hadoop.hive.ql.Driver.compileInternal(Driver.java:1317)
	at org.apache.hadoop.hive.ql.Driver.runInternal(Driver.java:1457)
	at org.apache.hadoop.hive.ql.Driver.run(Driver.java:1237)
	at org.apache.hadoop.hive.ql.Driver.run(Driver.java:1227)
	at org.apache.hadoop.hive.cli.CliDriver.processLocalCmd(CliDriver.java:233)
	at org.apache.hadoop.hive.cli.CliDriver.processCmd(CliDriver.java:184)
	at org.apache.hadoop.hive.cli.CliDriver.processLine(CliDriver.java:403)
	at org.apache.hadoop.hive.cli.CliDriver.executeDriver(CliDriver.java:821)
	at org.apache.hadoop.hive.cli.CliDriver.run(CliDriver.java:759)
	at org.apache.hadoop.hive.cli.CliDriver.main(CliDriver.java:686)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at org.apache.hadoop.util.RunJar.run(RunJar.java:239)
	at org.apache.hadoop.util.RunJar.main(RunJar.java:153)
FAILED: ParseException line 1:16 cannot recognize input near 'c5_0' 'select' 'c5_1' in statement