In [2]:
%load_ext bigdata

In [3]:
%timeout 300

In [4]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
--
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 2.871 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.399 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 0.244 seconds
--
DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.045 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.039 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 0.173 seconds

In [23]:
%%hive
SELECT YEAR(c4), c5, COUNT(c5)
FROM tbl0 
LATERAL VIEW 
explode (c5) tbl0 AS c5
GROUP BY YEAR(c4), c5;

SELECT YEAR(c4), c5, COUNT(c5)
FROM tbl0
LATERAL VIEW
explode (c5) tbl0 AS c5
GROUP BY YEAR(c4), c5;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20210522234601_de530b0c-4f0b-4128-b702-ab60f27117f9
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Job running in-process (local Hadoop)
2021-05-22 23:46:03,408 Stage-1 map = 100%,  reduce = 100%
Ended Job = job_local1546978560_0001
MapReduce Jobs Launched:
Stage-Stage-1:  HDFS Read: 0 HDFS Write: 0 SUCCESS
Total MapReduce CPU Time Spent: 0 msec
OK
2014	a	1
2014	b	1
2014	d	2
2014	e	1
2015	a	3
2015	b	1
2015	c	3
2015	d	2
2015	e	2
2016	a	2
2016	b	1
2016	c	3
2016	d	3
2016	e	3
2017	a	1
2017	b	1
2017	c	1
2017	e	1
2018	a	1
2018	d	1
Time taken: 1.427 seconds, Fetched: 20 row(s)

In [28]:
%%hive
SELECT YEAR(c4), c5, COUNT(c5)
FROM tbl0 
LATERAL VIEW explode(c5) adTable AS did;

SELECT YEAR(c4), c5, COUNT(c5)
FROM tbl0
LATERAL VIEW explode(c5) adTable AS did;
FAILED: SemanticException [Error 10025]: Line 1:7 Expression not in GROUP BY key 'c4'

In [ ]:
%%hive
INSERT OVERWRITE LOCAL DIRECTORY 'OUTPUT'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','